:root{
    --first: #2e4057;
    --second: #083d77;
    --third: #e78a63;
    --fourth: #f4d35e;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   background-position: center;
   width: 100%;
   font-family: sans-serif;
   display: grid;
   height: 100vh;
   place-items: center;
}


.header {
    text-align: center;
    width: 100%;
    /* background-color: var(--third); */
}

.header h1 {
    font-size: 60px;
    padding: 10px 10px;
    background-color: var(--second);
    color: var(--fourth);
    width: auto;
    margin: auto;
 }

 .button {
    text-align: center;
    width: 200px;
    margin-top: 20px;
 }

 .timer {
   text-align: center;
   font-size: 30px;
   width: 400px;
   border: 10px solid var(--third);
   padding: 20px;
   margin: auto;
   margin-top: 50px;
   border-radius: 15px;
 }

 .container {
     margin: auto;
     width: 900px;
     border: 10px solid var(--fourth);
     margin-top: 50px;
     border-radius: 10px;
     padding: 60px;
     text-align: center;
 }
 .btn-grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 10px;
     margin: 20px 0;
 }

 .score {
    margin: auto;
    border: 10px solid var(--first);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    width: 500px;
    border-radius: 10px;
 }



 
